.header {
  display: flex;
  width: 100%;
  position: fixed;
  padding: 1rem 8rem;
  margin: auto;
  justify-content: space-between;
  border: 2px solid #2466ff;
  border-style: none none solid none;
  align-items: center;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #d8d3ff;
}
